extends layout
block content
  .pageOne
    .inner
      a(href='enter') Enter
      a(href='login') Login
      .three#THREE 
  script(src='//cdnjs.cloudflare.com/ajax/libs/three.js/r72/three.min.js')
  script(src='components/angular/angular.min.js')
  script(src='js/th/config.b.js')
