
extends layout
block content
  input(id='username' type='text' placeholder='username')
  input(id='password' type='text' placeholder='password')
  button(id='submitButton') Submit
block js
  script(src='//code.jquery.com/jquery-2.1.4.min.js')
  script(src='js/loginMain.js')
  
